.odd, 
.three{
    background-color: rgb(255, 135, 135);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
.three{
    font-size: 24px;
}
#two{
    color: rgb(0, 0, 255);
    font-size: 36px;
}
#four{
    background-color: rgb(108, 255, 108);
    font-size: 24px;
    font-weight: bold;
}